// Definición de variables para la fuente
$futente-titulo: 'Roboto', sans-serif;

// Estilos para h5
h4 {
    font-family: njnaruto;
    color: blueviolet;
}

// Estilos para .loremejemploc
.loremejemploc {
    font-family: $futente-titulo;
}